<p>Olá {{ name }}</p>
<p>Clique neste link para redefinir a senha de login na {{ from }} com sua conta {{ email }}.</p>
<p><a href="{{ resetLink }}" target="_blank" rel="noopener noreferrer">{{ resetLink }}</a></p>
<p>Se você não solicitou a redefinição da sua senha, ignore este e-mail.</p>
<p>Obrigado,</p>
<p>Equipe da {{ from }}</p>